@model IEnumerable<UIModels.ProjectViewModel>
@{
    ViewBag.Title = "Projects";
}

<h2>Projects</h2>

@{
    if (ViewBag.Alert != null)
    {
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <p>@ViewBag.Alert</p>
        </div>
    }
}


<br />


<a href="/Projects/Create/" class="btn btn-primary btn-sm active" role="button">Create New</a>
<br />

<table class="table table-hover">
    <tr>
        <th scope="col">ProjectID</th>
        <th scope="col">ProjectName</th>
        <th scope="col">Count of users</th>
        <th scope="col">Count of new tasks</th>
    </tr>
    @foreach (var i in Model)
    {
    <tr>
        <td><p>@i.ID</p></td>
        <td><p>@i.ProjectName</p></td>
        <td><p>@i.UsersCount</p></td>
        <td><p>@i.NewTasksCount</p></td>
        <td><p><a href="/Projects/Edit/@i.ID">Edit</a></p></td>
        <td><p><a href="/Projects/Delete/@i.ID">Delete</a></p></td>
        <td><p><a href="/Projects/Details/@i.ID">Details</a></p></td>
    </tr>
    }
</table>



